.fade {
    opacity: 0;

}


.spacer {
    height: 20px;
}


.max{
    max-width: 40px;
}

.bg {
    background-image: url('/Volumes/Codex/GitHub/WolfDan26.github.io/assets/Flamies.png');
    background-repeat: no-repeat;
}
