.fade {
    opacity: 0;

}


.spacer {
    height: 20px;
}


.max{
    max-width: 40px;
}

.bg {
    background-image: url('/assets/Flamies.png');
    background-repeat: no-repeat;
    background-color: black;
}
